-----BEGIN CERTIFICATE-----
MIID/zCCAuegAwIBAgIJAIkwpuLMxfYzMA0GCSqGSIb3DQEBCwUAMIGVMQswCQYD
VQQGEwJVSzEQMA4GA1UECAwHRW5nbGFuZDEPMA0GA1UEBwwGTG9uZG9uMRwwGgYD
VQQKDBNUZXN0aW5nIHB1cnBvc2VzIENvMSAwHgYDVQQDDBcqLmNvbXB1dGUuYW1h
em9uYXdzLmNvbTEjMCEGCSqGSIb3DQEJARYUbHVpenJvZ2VyaW9jYXJ2YWxob0Aw
HhcNMTgwODIyMTgyODMwWhcNMTkwODIyMTgyODMwWjCBlTELMAkGA1UEBhMCVUsx
EDAOBgNVBAgMB0VuZ2xhbmQxDzANBgNVBAcMBkxvbmRvbjEcMBoGA1UECgwTVGVz
dGluZyBwdXJwb3NlcyBDbzEgMB4GA1UEAwwXKi5jb21wdXRlLmFtYXpvbmF3cy5j
b20xIzAhBgkqhkiG9w0BCQEWFGx1aXpyb2dlcmlvY2FydmFsaG9AMIIBIjANBgkq
hkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwLtcZix3SApdr+Num9RuxQQq/aYzRHI1
vFR29PxIiMwlaKmoNCRW8MF8oW/emVwdgzA9Gvb1Ph20wm6Bkyk+APhAK8n5JDIS
zQ7rsLNNxjs2DfBP5htPQ1dH6VCvaTP0K9ceincwHkwsP9bENst06WKl9Pm3BToZ
/T0VVsJBYYaNtGTu2qtFSnH804TNi8oWImsIBdqFejHg795cavqzRSyBeB0m0x7F
FbcgqgYAvn5KseVe4sjuxg0vt55ImuS6K+sK1Bi73+W4EVbKyixsmTZ9UQC7/QQf
d1V9elNty91/75B7Q/z0QFA4o4ExLRNhPD95LeT9mBhIywFpvjd+7wIDAQABo1Aw
TjAdBgNVHQ4EFgQU4VGNJMCnUkkWR27ZfeKnjWtQwmgwHwYDVR0jBBgwFoAU4VGN
JMCnUkkWR27ZfeKnjWtQwmgwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQsFAAOC
AQEAPE5e/VZx4KnkI2fCOj04l375fds0JpJ4tHYd8nW0zkv2QMx3DgPs9rK01iya
YTfyd8XdoCMuuXGu5KmvbtQyAA6E38IxGumKhQOf+mDR8INx6vSY/JcYCJ2I/6IW
K0sFPA82TXUrQKxAka+RXVjYg6v+57Ytc88b1aftLZajGL7/lViId7ftvxLpjNwR
mwffYbOBDF66KktUW5m9ahryYYyWgQ+k9LPFrh4BMytRskNc/08+Fp46OWsTyHxJ
HytqXouLV92T687OryiwOwz/M1nvR6lIK11CTOp9ZfLDFmWfMfwAGLerPdh3ZY7a
Humkwivnm7hjCO76edKyBoG8kA==
-----END CERTIFICATE-----
